<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %} - NURL</title>
        <style>
            @import "/css/main.css";
            @import "/css/forms.css";
            {% block stylesheets %}{% endblock %}
        </style>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <header>
            <h1>NURL</h1>
        </header>
        <nav>
            <ul>
                <li><a href="{{ path('homepage') }}">Homepage</a></li>
                <li><a href="{{ path('nurl_index') }}">Nurls</a></li>
                <li><a href="{{ path('tag_index') }}">Tags</a></li>
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <li>
                    <a href="{{ path('logout') }}">Logout</a>
                </li>
                <li>
                   <a href="{{ path('user_show', {'id': app.user.id}) }}">{{ app.user.getProfileImage() | raw }} {{ app.user.username }}</a>
                </li>
            {% else %}
                <li>
                    <a href="{{ path('user_new') }}">Register</a>
                </li>
                <li class="login_form">
                <form class="login_form" action="{{ path('login') }}" method="post">
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                    <input type="text" id="username" name="_username" placeholder="Username">
                    <input type="password" id="password" name="_password" placeholder="Password">
                    <button type="submit">Login</button>
                </form>
                </li>
            {% endif %}
            </ul>
        </nav>
        <main>
            <div id="content">
                {% for message in app.session.flashbag.get('notify') %}
                    <p class="warning_message">{{ message }}</p>
                {% endfor %}
                {% block body %}{% endblock %}
            </div>
        </main>
        <footer></footer>
        {% block javascripts %}{% endblock %}
    </body>
</html>
