{% extends 'base.html.twig' %}
{% block title %}Homepage{% endblock %}

{% block body %}
    <h1>Tags</h1>
    <div class="flex_container">
    {% if tags %}
        {% for tag in tags %}
            <div class="tag">
                <h2><a href="{{ path('tag_show', {'id':tag.id}) }}"> {{ tag.name }} </a></h2>
            </div>
        {% endfor %}
    {% else %}
        <p class="tag">Their are currently no tags to display</p>
    {% endif %}
    </div>

    <h1>Recent Nurls</h1>
    {% if nurls %}
        {% for nurl in nurls %}
            <div class="nurl_summary">
                <a class="block_link" href="{{ path('nurl_show', {'id':nurl.id}) }}">
                    {{ nurl.title }}
                </a>
                <div>
                    <p>
                        {{ nurl.notes }}
                    </p>
                </div>
                <a class="block_link" href="http://{{ nurl.url }}">Link</a>
            </div>
        {% endfor %}
    {% else %}
        <p class="tag">Their are currently no nurls to display</p>
    {% endif %}
{% endblock %}
