{% extends 'base.html.twig' %}
{% block tilte %}Recent Nurls{% endblock %}
{% block body %}
    <h1>Nurls list</h1>
    <a class="block_link" href="{{ path('nurl_new') }}">New Nurl</a>

    {% for nurl in nurls %}
        <div class="nurl_summary">
            <a class="block_link" href="{{ path('nurl_show', {'id':nurl.id}) }}">
                {{ nurl.title }}
            </a>
            <div>
                <p>
                {{ nurl.notes }}
                </p>
            </div>
            <a class="block_link" href="http://{{ nurl.url }}">Link</a>
        </div>
    {% endfor %}
{% endblock %}
