{% extends 'base.html.twig' %}
{% block title %} New Nurl {% endblock %}
{% block body %}
    <h1>Create New Nurl</h1>
    {% if  not(is_granted('IS_AUTHENTICATED_FULLY')) %}
        <p class="warning_message">
            Your are not logged in, so your nurl will only be posted upoon aproval by a moderator.
            To post a nurl now, <a href="{{ path('user_new') }}"> sign up </a> or <a href="{{ path('login') }}"> log in.</a>
        </p>
    {% endif %}
    {{ form_start(form) }}

        {{ form_row(form.title) }}
        {{ form_row(form.tag) }}
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <p class="warning_message">WARNING: Public NURLS can't be changed to private later.</p>
            {{ form_row(form.public, { 'attr': {'class': 'checkbox'} }) }}
            {{ form_row(form.collection) }}
        {% else %}
            <div class="hidden">
                {{ form_row(form.public) }}
                {{ form_row(form.collection) }}
            </div>
        {% endif %}
        {{ form_row(form.uRL) }}
        {{ form_row(form.notes) }}
        <input class="submit" type="submit" value="Create" />
    {{ form_end(form) }}

{% endblock %}
