{% extends 'base.html.twig' %}

{% block body %}
    <h1>Nurl NEw</h1>

    {{ form_start(form) }}

        {{ form_row(form.title) }}
        {{ form_row(form.tag) }}
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            {{ form_row(form.public, { 'attr': {'class': 'checkbox'} }) }}
            {{ form_row(form.collection) }}
        {% else %}
            <div class="hidden">
                {{ form_row(form.public) }}
                {{ form_row(form.collection) }}
            </div>
        {% endif %}
        {{ form_row(form.uRL) }}
        {{ form_row(form.notes) }}
        <input class="submit" type="submit" value="Create" />
    {{ form_end(form) }}

{% endblock %}
