{% extends 'base.html.twig' %}

{% block body %}
    <div class="details_div">
    <h1>{{ user.username }}'s Profile</h1> <br>
    <h2>Profile Pic</h2> {{ user.getProfileImage('large') | raw }}
        {% if app.user == user or is_granted('ROLE_MODERATOR')%}
        <a class="block_link" href="{{ path('user_edit', {'id':user.id, 'type':'pic'}) }}">Change Profile Pic</a>
        {% endif %}<br>
        {% if user.profilepublic or is_granted('ROLE_MODERATOR') or app.user == user %}
        <h2>About me</h2> <p>{{ user.about }}</p>
            {% if app.user == user or is_granted('ROLE_MODERATOR')%}
                <a class="block_link" href="{{ path('user_edit',{'id':user.id, 'type':'about'}) }}">Edit About Me</a>
            {% endif %}<br>
        <h2>Join Date</h2> <p>{{ user.joindate.format('Y-m-d H:i:s') }}</p>
        {% else %}
             <p class="warning_message">This users profile is private.</p>
        {% endif %}
    </div>
            {% if app.user == user or is_granted('ROLE_MODERATOR') %}

            <a class="block_link" href="{{ path('user_edit',{'id':user.id, 'type':'password'}) }}">Change Password</a>

            <a class="block_link" href="{{ path('user_change_public', {'id':user.id}) }}">Make Profile {% if user.profilepublic %} private {% else %} public {% endif %}</a>

            <p class="warning_message">Deleting your account can't be undone.</p>
            {{ form_start(delete_form) }}
                <input class="block_link no_button" type="submit" value="Delete">
            {{ form_end(delete_form) }}
            {% endif %}
{% endblock %}
