{% extends 'base.html.twig' %}

{% block body %}
    <div class="details_div">
    <h1>{{ user.username }}'s Profile</h1> <br>

    <h2>Profile Pic</h2> {{ user.getProfileImage('large') | raw }}
        {% if app.user == user %}
        <a class="block_link" href="{{ path('user_edit', {'id':user.id, 'type':'pic'}) }}">Change Profile Pic</a>
        {% endif %}<br>
        {% if user.profilepublic or is_granted('ROLE_MOD') or app.user == user %}
        <h2>About me</h2> <p>{{ user.about }}</p>
            {% if app.user == user %}
                <a class="block_link" href="{{ path('user_edit',{'id':user.id, 'type':'about'}) }}">Edit About Me</a>
            {% endif %}<br>
        <h2>Join Date</h2> <p>{{ user.joindate.format('Y-m-d H:i:s') }}</p>
        {% else %}
             <p class="warning_message">This users profile is private.</p>
        {% endif %}
    </div>
            {% if app.user == user %}

            <a class="block_link" href="{{ path('user_edit',{'id':user.id, 'type':'password'}) }}">Change Password</a>

            <a class="block_link" href="{{ path('user_change_public', {'id':user.id}) }}">Make Profile {% if user.profilepublic %} Private {% else %} Public {% endif %}</a>

            <p class="warning_message">Deleting your account can't be undone.</p>
            {{ form_start(delete_form) }}
                <input class="block_link no_button" type="submit" value="Delete">
            {{ form_end(delete_form) }}
            {% endif %}
    {% set username = "#{user.username}'s" %}
    {% if app.user == user %}
        {% set username = 'My' %}
    {% endif %}

    <h1>{{ username }} Collections</h1>
    {% if app.user == user %}<a class="block_link" href="{{ path('collection_new') }}">Create New Collection</a>{% endif %}
    <div class="flex_container">
    {% if not(user.collections is empty)%}
        {% for collection in user.collections %}
            <div class="tag">
                <h2><a href="{{ path('collection_show', {'id':collection.id}) }}"> {{ collection.name }} </a></h2>
            </div>
        {% endfor %}
    {% else %}
        <p class="tag">There are no Collections to display.</p>
    {% endif %}
    </div>

    <h1>{{ username }} Public Nurls</h1>
    {% if app.user == user %}<a class="block_link" href="{{ path('nurl_new') }}">Create New Nurl</a>{% endif %}
        {% set publicCount = 0%}
            {% for nurl in user.nurls %}
                {% if nurl.public %}
                    {% set publicCount = publicCount + 1 %}
                <div class="nurl_summary">
                    <a class="block_link" href="{{ path('nurl_show', {'id':nurl.id}) }}">
                        {{ nurl.title }}
                    </a>
                    <div>
                        <p>
                            {{ nurl.notes }}
                        </p>
                    </div>
                    <a class="block_link" href="http://{{ nurl.url }}">Link</a>
                </div>
                {% endif %}
            {% endfor %}
        {% if publicCount == 0 %}
            <p class="tag">There are no Nurls to display.</p>
        {% endif %}

    {% if app.user == user or is_granted('ROLE_MOD') %}
        <h1>{{ username }} Private Nurls</h1>
        {% if app.user == user %}<a class="block_link" href="{{ path('nurl_new') }}">Create New Nurl</a>{% endif %}
        {% set privateCount = 0 %}
            {% for nurl in user.nurls %}
                {% if not(nurl.public) %}
                    {% set privateCount = privateCount + 1 %}
                    <div class="nurl_summary">
                        <a class="block_link" href="{{ path('nurl_show', {'id':nurl.id}) }}">
                            {{ nurl.title }}
                        </a>
                        <div>
                            <p>
                                {{ nurl.notes }}
                            </p>
                        </div>
                        <a class="block_link" href="http://{{ nurl.url }}">Link</a>
                    </div>
                {% endif %}
            {% endfor %}
        {% if privateCount == 0 %}
            <p class="tag">There are no Nurls to display.</p>
        {% endif %}
    {% endif %}

    {% if is_granted('ROLE_MOD') %}
        <a class="block_link" href="{{ path('user_freeze', {'id':user.id}) }}">{% if user.frozen %}Un-{% endif %}Freeze User</a>
    {% endif %}

{% endblock %}
