{% extends 'base.html.twig' %}

{% block body %}
    <h1>Proposed Tag - {{ proposedTag.name }}</h1>

    <a class="block_link" href="{{ path('tag_index') }}">Back to Tags</a>
    {% if is_granted('ROLE_MOD') %}
        <a class="block_link" href="{{ path('proposed_accept', { 'id': proposedTag.id }) }}">Accept</a>
        {{ form_start(delete_form) }}
        <input class="block_link no_button" type="submit" value="Reject">
        {{ form_end(delete_form) }}
    {% endif %}

{% endblock %}
