{% extends 'base.html.twig' %}

{% block body %}
    <h1>Proposed Tag</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ proposedTag.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ proposedTag.name }}</td>
            </tr>
            <tr>
                <th>Rating</th>
                <td>{{ proposedTag.rating }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('tag_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('proposedtags_edit', { 'id': proposedTag.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input class="submit" type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
