{% extends 'base.html.twig' %}
{% block title %} Tags {% endblock %}
{% block body %}
    <h1>Current Tags</h1>

    <div class="flex_container">
        {% if tags %}
            {% for tag in tags %}
                <div class="tag">
                <h2><a href="{{ path('tag_show', {'id':tag.id}) }}"> {{ tag.name }} </a></h2>
                </div>
            {% endfor %}
        {% else %}
        <p class="tag">Their are currently no tags to display</p>
        {% endif %}
    </div>

    <h1>Proposed Tags</h1>

    <div class="flex_container">
        {% if proposedTags %}
            {% for tag in proposedTags %}
                <div class="tag">
                    <h2><a href="{{ path('proposedtags_show', {'id':tag.id}) }}"> {{ tag.name }} </a></h2>
                    <div class="vote_box">

                        <p {% if tag.rating < 0 %} class="red" {% else %} class="green" {% endif %}>
                            <a href="{{ path('vote_up', {'id':tag.id}) }}"><img src="/images/vote_up.png"></a>
                            {{ tag.rating }}
                            <a href="{{ path('vote_down', {'id':tag.id}) }}"><img src="/images/vote_down.png"></a>
                        </p>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <p class="tag">Their are currently no proposed tags to display</p>
        {% endif %}
    </div>
{% endblock %}
