{% extends 'base.html.twig' %}

{% block body %}
    <h1>Tag - {{ tag.name }}</h1>

    <a class="block_link" href="{{ path('tag_index') }}">Back to Tags</a>
    {% if is_granted('ROLE_MOD') %}
            <a class="block_link" href="{{ path('tag_edit', { 'id': tag.id }) }}">Edit</a>
            {{ form_start(delete_form) }}
                <input class="block_link no_button" type="submit" value="Delete">
            {{ form_end(delete_form) }}
    {% endif %}

    <h1>Nurls</h1>
    {% if not(tag.nurls is empty) %}
        {% for nurl in tag.nurls %}
            {% if nurl.public or nurl.author == app.user %}
                <div class="nurl_summary">
                    <a class="block_link" href="{{ path('nurl_show', {'id':nurl.id}) }}">
                        {{ nurl.title }}
                    </a>
                    <div>
                        <p>
                            {{ nurl.notes }}
                        </p>
                    </div>
                    <a class="block_link" href="{{ nurl.url }}">Link</a>
                </div>
            {% endif %}
        {% endfor %}
    {% else %}
        <p class="tag">Their are currently no nurls to display</p>
    {% endif %}
{% endblock %}
